$primary_color:#0F3C73;
$secondary:#005FD2;
$accent:#FF9800;
$negative:#AC1422;
$hover-negative:#E32A3B;
$positive:#27AE60;
$hover-positive:#39D67B;
$green-1:#219653;

$dark:#424242;
$black:#3E3E3E;
$gray-1:#57585A;
$gray-2:#939598;
$gray-3:#BCBDC0;
$gray-4:#EAEAEA;
$link-text: #0F3C73;
$hover-link-text: #005FD2;

$background_gray:#F5F7F9;
$hover-background_gray:#E2EDF8;
$background_blue:#F4F8FC;
$background_green:#F3FCF6;
$background_red:#FCF7F3;