/*variables*/
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 769px,
        lg: 1025px,
        xl: 1230px,
        xxl: 1400px
) !default;


$transition-base:all .25s ease-out !default;
$font-family-base:'Montserrat', sans-serif;

@import "scss/header";
@import "scss/main";
@import "scss/footer";
@import "scss/second";


@mixin transition {
  transition:$transition-base;
}
@mixin color-transition {
  transition:color .25s ease-out !important;
}
@mixin clearfix {
  &:after {
    content:'';
    display:block;
    clear:both;
  }
}

* {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  min-width:320px;
  font-size:16px;
  line-height:1.6;
  font-weight: normal;
  font-family: $font-family-base;
  margin: 0;
  height: 100%;
  min-height: 100%;
}

input[type="submit"]{
  font-family: $font-family-base;
}

.clearfix {
  clear:both;
  @include clearfix;
}

.all {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  min-height: 100%;
  width: 100%;
  min-width: 320px;
  position: relative;
  background-color: $background_gray;
  background-image: url("/img/back.svg");
  background-repeat-x: no-repeat;
  background-repeat: space;
  background-position: top;
  @media (max-width: 1024px) {
    background-size: 1024px;
    background-repeat: repeat;
  }
}



a {
  text-decoration: none;
  //color: $link;
}

.link{
  color: $primary-color;
  &:hover{
    color: $secondary;
    text-decoration-line: underline;
  }
}

p {
  padding: 0 0 12px 0;
  margin: 0;
  word-wrap: break-word;
}

img {
  max-width: 100%;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: $dark;
  text-align: left;
  font-family: $font-family-base;
}
button{
  font-size: 16px;
  font-family: $font-family-base;
}

h1, .h1 {
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 67.2px */
  text-transform: uppercase;
}


h2, .h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 57.6px */
}

h3, .h3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 48px */
}

h4, .h4 {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 38.4px */
}

h5, .h5 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
}

h6, .h6 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  text-transform: uppercase;
}

.btn {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  border: 2px solid $primary_color;
  background: $primary_color;
  color: #ffffff;
  border-radius: 32px;
  padding: 5px 20px;
  gap: 27px;
  letter-spacing: 0;
  cursor: pointer;
  transition: all .25s ease-out;
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: center;

  &.negative{
    border: 1px solid $negative;
    background: $negative;

    &:hover, &:hover:hover {
      background: $hover-negative;
      border-color: $hover-negative;
      color: #ffffff;
    }
  }

  &.positive{
    border: 1px solid $positive ;
    background: $positive;

    &:hover, &:hover:hover {
      background: $hover-positive;
      border-color: $hover-positive;
      color: #ffffff;
    }
  }

  &:hover, &:hover:hover {
    background: $secondary;
    border-color: $secondary;
    color: #ffffff;
  }

  &.active, &:active {

  }

  &.disabled, &:disabled {
    background: $gray-4;
    border-color: $gray-4;
    color: #ffffff;
    opacity: 0.5;
    cursor: no-drop;
    pointer-events: none;
  }


  &-transparent {
    box-sizing: border-box;
    border: unset;
    color: $primary_color;
    background: transparent;
    border-radius: 32px;

    &.negative{
      border: 2px solid $negative;
      background: transparent;
      color: $negative;

      &:hover, &:hover:hover {
        background: $hover-negative;
        border-color: $hover-negative;
        color: #ffffff;
      }
    }

    &:hover, &:hover:hover {
      color: $primary_color;
      background: $hover-background_gray;
      border-color: $hover-background_gray;
    }

    &.active, &:active {
      &:hover, &:hover:hover {
        background: $primary_color;
        color: #ffffff;
      }
      background: $primary_color;
      color: #ffffff;
    }

    &.disabled, &:disabled {
      background: $gray-4;
      border-color: $gray-4;
      color: #ffffff;
      pointer-events: none;
      cursor: no-drop;
    }
  }

  &-transparent-border {
    box-sizing: border-box;
    border: 2px solid $primary_color;
    color: $primary_color;
    background: transparent;
    border-radius: 5px;

    &.negative{
      border: 2px solid $negative;
      background: transparent;
      color: $negative;

      &:hover, &:hover:hover {
        background: $hover-negative;
        border-color: $hover-negative;
        color: #ffffff;
      }
    }

    &:hover, &:hover:hover {
      color: #ffffff;
      background: $primary_color;
      border-color: $primary_color;
    }

    &.active, &:active {

    }

    &.disabled, &:disabled {
      background: transparent !important;
      border-color: $gray-4 !important;
      color: $gray-3 !important;

      pointer-events: none !important;
      cursor: no-drop !important;
    }
  }


  &-transparent-radius {
    box-sizing: border-box;
    border: 2px solid $primary_color;
    color: $primary_color;
    background: transparent;
    border-radius: 32px;

    &.negative{
      border: 1px solid $negative;
      background: transparent;
      color: $negative;

      &:hover, &:hover:hover {
        background: $hover-negative;
        border-color: $hover-negative;
        color: #ffffff;
      }
    }

    &:hover, &:hover:hover {
      color: #ffffff;
      background: $primary_color;
      border-color: $primary_color;
    }

    &.active, &:active {

    }

    &.disabled, &:disabled {
      background: $gray-4;
      border-color: $gray-4;
      color: #ffffff;
      pointer-events: none;
      cursor: no-drop;
    }

    &.hover-back{
      &:hover, &:hover:hover {
        color: $primary_color !important;
        background: #ffffff !important;
        border-color: #ffffff !important;
      }
    }

  }


}

form{
  display: flex;
  flex-direction: column;

  .form-title{
    color: $dark;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 36px;
  }

  /* стили для label */
  .text-field__label {
    display: block;
    margin-bottom: 12px;
    transition: all .25s ease-out;
    color: $dark;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  /* стили для input */
  .text-field__input {
    height: 48px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    color: $dark;
    background-color: $background_gray;
    background-clip: padding-box;
    border: 1px solid $background_gray;
    border-radius: 4px 4px 0px 0px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
    transition: all .25s ease-out;
    white-space: break-spaces;
  }

  .text-field__area {
    min-height: 157px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    color: $dark;
    background-color: $background_gray;
    background-clip: padding-box;
    border: 1px solid $background_gray;
    border-radius: 4px 4px 0px 0px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
    transition: all .25s ease-out;
    white-space: break-spaces;
    resize: none;
    outline: none;
    height: auto;
    overflow: hidden;
  }

  .text-field__input::placeholder, .text-field__area::placeholder{
    color: $gray-3;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4px */
    position: relative;
  }

  .text-field__input:focus, .text-field__area:focus {
    background-color: $hover-background_gray;
    border-bottom: 1px solid $secondary;
    transition: all .25s ease-out;
  }

  ::-webkit-calendar-picker-indicator {
    color: transparent;
    opacity: 1;

    width: 20px;
    height: 20px;
    background: url("img/Calendar_Event.svg") no-repeat center;
    background-size: cover;
    transition: all .25s ease-out;
  }

  .custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid $gray-2;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 67% 67%;
    transition: all .15s ease-out;
  }
  .custom-checkbox:checked+label::before {
    transition: all .15s ease-out;
    border-color: $primary_color;
    background-color: $primary_color;
    background-image: url("/img/checkbox.svg");
  }

  /* стили при наведении курсора на checkbox */
  .custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    transition: all .15s ease-out;
    border-color: $secondary;
    background-color: $hover-background_gray;

  }

  /* стили для активного состояния чекбокса (при нажатии на него) */
  .custom-checkbox:not(:disabled):active+label::before {
    transition: all .15s ease-out;
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }

  /* стили для чекбокса, находящегося в фокусе */
  .custom-checkbox:focus+label::before {

  }

  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  .custom-checkbox:focus:not(:checked)+label::before {

  }

  /* стили для чекбокса, находящегося в состоянии disabled и checked */
  .custom-checkbox:checked:disabled+label::before {
    transition: all .15s ease-out;
    border-color: $gray-3;
    background-color: $gray-3;
  }

  /* стили для чекбокса, находящегося в состоянии disabled и не checked */
  .custom-checkbox:not(:checked):disabled+label::before {
    transition: all .15s ease-out;
    border-color: $gray-4;
    background-color: $background_gray;
  }
}


@property --p{
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

.pie {
  --p:20;
  --b:22px;
  --c:darkred;
  --w:150px;

  width:var(--w);
  aspect-ratio:1;
  position:relative;
  display:inline-grid;
  margin:5px;
  place-content:center;
  justify-items: center;
  text-align: center;

  &.white{
    color: #FFFFFF;
  }
  &.primary{
    color: $dark;
  }
  .big{
    text-align: center;
    font-size: 84px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-transform: uppercase;
  }
}
.pie:before,
.pie:after {
  content:"";
  position:absolute;
  border-radius:50%;
}
.pie:before {
  inset:0;
  background:
          radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
          conic-gradient(var(--c) calc(var(--p)*1%),#E2EDF8 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie:after {
  inset:calc(50% - var(--b)/2);
  background:var(--c);
  transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}
.animate {
  animation:p 1s .5s both;
}
.no-round:before {
  background-size:0 0,auto;
}
.no-round:after {
  content:none;
}
@keyframes p {
  from{--p:0}
}

//
//// скролл
//* {
//  scrollbar-width: thin;
//  scrollbar-color: #6C9BC9;
//}
///* Работает в Chrome, Edge и Safari */
//*::-webkit-scrollbar {
//  width: 5px;
//}
//*::-webkit-scrollbar-track {
//  background: transparent;
//}
//*::-webkit-scrollbar-thumb {
//  background-color: #6C9BC9;
//  border-radius: 20px;
//  border: 3px solid transparent;
//}
